<div class="dropDown">
    <span>
        <span class="dropDown__label">Repository</span>
        <span>Arc</span>
    </span>
    <div class="dropDown__select select popup popup_pad_l_m popup_pad_r_m">
        <button class="popup__pullButton popup__pullButton_indent_b_l button"></button>
        <ul>
            <li class="select__item">Arc</li>
            <li class="select__item">My Repository</li>
            <li class="select__item">Devtools-team repository</li>
        </ul>
    </div>
</div>
