<div class="branchSelector info__branchSelector">
        <span>
            <span class="branchSelector__label">trunk</span>
        </span>
    <div class="branchSelector__select branchSelect">
        <div class="branchSelect__title">
            <span class="branchSelect__selected-item">
                <span>Trunk</span>
                <span>Last commit 4 s ago</span>
            </span>
        </div>
        <ul>
            <li class="branchSelect__item selectItem">
                <span class="selectItem__branch">users/rudskoy/DEVTOOLS-43865</span>
                <span class="selectItem__lastCommit">Last commit 1 min ago</span>
            </li>
            <li class="branchSelect__item selectItem">
                <span class="selectItem__branch">users/rudskoy/DEVTOOLS-43865</span>
                <span class="selectItem__lastCommit">Last commit 1 min ago</span>
            </li>
            <li class="branchSelect__item selectItem">
                <span class="selectItem__branch">users/rudskoy/DEVTOOLS-43865</span>
                <span class="selectItem__lastCommit">Last commit 1 min ago</span>
            </li>
            <li class="branchSelect__item selectItem">
                <span class="selectItem__branch">users/rudskoy/DEVTOOLS-43865</span>
                <span class="selectItem__lastCommit">Last commit 1 min ago</span>
            </li>
            <li class="branchSelect__item selectItem">
                <span class="selectItem__branch">users/rudskoy/DEVTOOLS-43865</span>
                <span class="selectItem__lastCommit">Last commit 1 min ago</span>
            </li>
            <li class="branchSelect__item selectItem">
                <span class="selectItem__branch">users/rudskoy/DEVTOOLS-43865</span>
                <span class="selectItem__lastCommit">Last commit 1 min ago</span>
            </li>
            <li class="branchSelect__item selectItem">
                <span class="selectItem__branch">users/rudskoy/DEVTOOLS-43865</span>
                <span class="selectItem__lastCommit">Last commit 1 min ago</span>
            </li>
            <li class="branchSelect__item selectItem">
                <span class="selectItem__branch">users/rudskoy/DEVTOOLS-43865</span>
                <span class="selectItem__lastCommit">Last commit 1 min ago</span>
            </li>
            <li class="branchSelect__item selectItem">
                <span class="selectItem__branch">users/rudskoy/DEVTOOLS-43865</span>
                <span class="selectItem__lastCommit">Last commit 1 min ago</span>
            </li>
            <li class="branchSelect__item selectItem">
                <span class="selectItem__branch">users/rudskoy/DEVTOOLS-43865</span>
                <span class="selectItem__lastCommit">Last commit 1 min ago</span>
            </li>

        </ul>
    </div>
</div>
