.info {
    height: 66px;

    &__title {
        margin: var(--space-s) 0 var(--space-xs);
        font-size: var(--font-size-xl);
        line-height: var(--line-height-xl);

        display: flex;
        align-items: center;


        p {
            font-weight: bold;
        }
    }

    &__person {
        display: inline-block;
    }

    &__branchSelector {
        margin-left: var(--space-xxs);
    }
}

@media (max-width: 960px) {
    .info {
        height: auto;
        display: flex;
        flex-direction: column;

        &__title {
            font-size: var(--font-size-l);
            margin-bottom: var(--space-xxs);
        }

        &__description {
            padding-right: var(--space-xxxl);
        }
    }
}
