.code-wrapper {
    &__code-frame {
        margin-top: var(--space-xl);
    }
}

.code-frame {
    border: 1px rgba(0, 0, 0, .12) solid;
    border-radius: 4px;

    &__header {
        height: 42px;
        padding: 0 var(--space-m);
        border-bottom: 1px var(--separator) solid;
        background-color: #f5f5f5;

        .icon {
            height: 13px;
            display: inline-block;
        }
    }

    &__title {
        margin-right: var(--space-xs);
    }

    &__size {
        color: var(--gray-color);
    }

    &__content {
        &_diffBackground {
            background-image: linear-gradient(0deg, #ffffff 7.30%, #e6ffed 7.30%, #e6ffed 18.25%, #e6ffed 18.25%, #e6ffed 25.18%, #ffeef0 25.18%, #ffeef0 34.67%, #fff 34.67%, #fff 42.70%, #fff 42.70%, #fff 50%, #ffffff 50%, #ffffff 57.30%, #e6ffed 57.30%, #e6ffed 68.25%, #e6ffed 68.25%, #e6ffed 75.50%, #ffeef0 75.18%, #ffeef0 84.67%, #fff 84.67%, #fff 92.70%, #fff 92.70%, #fff 100%);
        }
    }

    &__lines {
        list-style: none;
        counter-reset: lines-counter;
        margin: 0;
        margin-right: var(--space-xxl) ;
        padding-inline-start: 24px;
    }

    &__line {
        font-family: monospace;
        text-align: right;
        counter-increment: lines-counter;
        &:before {
            content: counter(lines-counter);
            color: var(--gray-color);
        }
    }

    &__code {
        white-space: pre-wrap;
        word-break: break-all;
        overflow: hidden;
    }

    &__commitDiffCount {
        width: 80px;
    }

    &__controls {
        height: 28px;
        background-color: var(--light-blue-bg-color);
    }

    &__aboveLinesIcon {
        position: relative;
        top: -2px;
    }
}

@media (max-width: 960px) {
    .code-wrapper {
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
    }

    .code-frame {
        margin-top: var(--space-s);

        /* нельзя ставить &__header {
            flex-direction: column;
            align-items: flex-start;
        }*/

        &__button {
            display: none;
        }
    }
}
