<div class="code-wrapper">

    <div class="code-frame code-wrapper__code-frame">
        <CodeFrameHeader>
            <div class="code-frame__titleWrapper">
                <Icon class="indent indent_right indent indent_right_s icon_merge"></Icon>
                <Icon class="indent indent_right indent indent_right_xs icon_file_code-gray"></Icon>
                <span class="code-frame__title code-frame__title_path">/trunk/arcadia/devtools/intellij/src/main/java/ru/yandex/devtools/intellij/arc/client/ArcCli.java</span>
            </div>
            <div class="container container_flex container_justify-content_space-between code-frame__commitDiffCount">
                <div>
                    <span class="text text_green">+100</span>
                    <span class="text text_red">-81</span>
                </div>
                <button class="button">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.94.63H1.3C.57.63 0 1.23 0 1.93v9.63c0 .74.57 1.31 1.31 1.31h9.63c.7 0 1.31-.57 1.31-1.3V1.93c0-.71-.6-1.31-1.31-1.31zm-.17 10.93h-9.3c-.1 0-.16-.05-.16-.16V2.1c0-.08.06-.16.17-.16h9.3c.08 0 .16.08.16.16v9.3c0 .1-.08.16-.17.16zM9.3 3.25H5.58c-.3 0-.47.36-.25.57l1.31 1.32-3.93 3.93c-.14.14-.14.36 0 .47l.63.63c.1.13.32.13.46 0l3.94-3.94 1.31 1.31c.22.2.57.06.57-.24V3.58a.35.35 0 0 0-.32-.33z" fill="#7F8285"/>
                    </svg>
                </button>
            </div>
        </CodeFrameHeader>
        <div class="code-frame__controls container container_flex container_align-items_center padding_left_m padding_right_m">
            <span class="text text_light-gray text_size_xs container_flex-basis_s">@@ -270, 160  +270, 161 @@</span>
            <div class="code-frame__listPagination">
                <div class="text text_inactive text_family_mono indent indent_right_xxl">
                    <span>
                        <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M.96.25C.8.25.66.32.56.41a.55.55 0 0 0-.16.4c0 .17.05.3.16.4L3.36 4c.09.12.23.16.39.16.14 0 .28-.04.4-.16l2.79-2.79c.1-.1.16-.23.16-.4a.66.66 0 0 0-.16-.4.66.66 0 0 0-.4-.16H.96z" fill="#B8BEC3"/>
                        </svg>
                    </span>
                    Below 20 lines
                </div>
                <div class="text text_family_mono">
                    <span>
                        <svg class="code-frame__aboveLinesIcon" width="7" height="5" viewBox="0 0 7 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.22083 4.75C6.38489 4.75 6.52551 4.67969 6.61926 4.58594C6.73645 4.46875 6.78333 4.32812 6.78333 4.1875C6.78333 4.02344 6.73645 3.88281 6.61926 3.78906L3.8302 1C3.73645 0.882812 3.59583 0.835938 3.43176 0.835938C3.29114 0.835938 3.15051 0.882812 3.03333 1L0.244263 3.78906C0.150513 3.88281 0.0802002 4.02344 0.0802002 4.1875C0.0802002 4.32812 0.150513 4.46875 0.244263 4.58594C0.36145 4.67969 0.502075 4.75 0.6427 4.75L6.22083 4.75Z" fill="black"/>
                        </svg>
                        Above 20 lines
                    </span>
                </div>
            </div>
        </div>

        <div class="code-frame__content container container_flex code-frame__content_diffBackground padding padding_bottom_xxxs padding_top_xxxs">
            <ol class="code-frame__lines">
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line"></li>
            </ol>

            <ol class="code-frame__lines">
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line text text_hidden"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
                <li class="code-frame__line"></li>
            </ol>
            <pre class="code-frame__code"><children></children></pre>
        </div>
        <!-- end of content-->

        <div class="code-frame__controls container container_flex container_align-items_center padding_left_m padding_right_m">
            <span class="text text_light-gray text_size_xs container_flex-basis_s">@@ -270, 160  +270, 161 @@</span>
            <div class="code-frame__listPagination">
                <div class="text text_inactive text_family_mono indent indent_right_xxl">
                    <span>
                        <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M.96.25C.8.25.66.32.56.41a.55.55 0 0 0-.16.4c0 .17.05.3.16.4L3.36 4c.09.12.23.16.39.16.14 0 .28-.04.4-.16l2.79-2.79c.1-.1.16-.23.16-.4a.66.66 0 0 0-.16-.4.66.66 0 0 0-.4-.16H.96z" fill="#B8BEC3"/>
                        </svg>
                    </span>
                    Below 20 lines
                </div>
                <div class="text text_family_mono">
                    <span>
                        <svg class="code-frame__aboveLinesIcon" width="7" height="5" viewBox="0 0 7 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.22083 4.75C6.38489 4.75 6.52551 4.67969 6.61926 4.58594C6.73645 4.46875 6.78333 4.32812 6.78333 4.1875C6.78333 4.02344 6.73645 3.88281 6.61926 3.78906L3.8302 1C3.73645 0.882812 3.59583 0.835938 3.43176 0.835938C3.29114 0.835938 3.15051 0.882812 3.03333 1L0.244263 3.78906C0.150513 3.88281 0.0802002 4.02344 0.0802002 4.1875C0.0802002 4.32812 0.150513 4.46875 0.244263 4.58594C0.36145 4.67969 0.502075 4.75 0.6427 4.75L6.22083 4.75Z" fill="black"/>
                        </svg>
                        Above 20 lines
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
