.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &_folder {
        width: 12px;
        height: 20px;
        background-image: url(../../assets/folder_icon.svg);
    }

    &_file_code {
        height: 20px;
        width: 9px;
        background-image: url(../../assets/file_code_icon.svg);
    }

    &_file_simple {
        height: 20px;
        width: 9px;
        background-image: url(../../assets/file_simple_icon.svg);
    }
}
