.container {
    &_flex {
        display: flex;
    }

    &_flex-basis{
        &_s {
            flex-basis: 40%;
        }
    }

    &_align-items_center {
        align-items: center;
    }

    &_justify-content_space-between {
        justify-content: space-between;

    }
}
