.padding {
    &_right {
        &_l {
            padding-right: var(--space-l);
        }

        &_m {
            padding-right: var(--space-m);
        }

        &_s {
            padding-right: var(--space-s);
        }
    }

    &_left {
        &_l {
            padding-left: var(--space-l);
        }

        &_m {
            padding-left: var(--space-m);
        }

        &_s {
            padding-left: var(--space-s);
        }
    }

    &_top {
        &_l {
            padding-top: var(--space-l);
        }

        &_m {
            padding-top: var(--space-m);
        }

        &_s {
            padding-top: var(--space-s);
        }

        &_xs {
            padding-top: var(--space-xs);
        }

        &_xxxs {
             padding-top: var(--space-xxxs);
        }
    }

    &_bottom {
        &_l {
            padding-bottom: var(--space-l);
        }

        &_m {
            padding-bottom: var(--space-m);
        }

        &_s {
            padding-bottom: var(--space-s);
        }

        &_xs {
            padding-bottom: var(--space-xs);
        }

        &_xxxs {
            padding-bottom: var(--space-xxxs);
        }
    }
}
