

@media (max-width: 960px) {
    .shuffle {
        &_mobile_1 {
            order: 1;
        }

        &_mobile_2 {
            order: 2;
        }

        &_mobile_3 {
            order: 3;
        }
    }
}
