<div class="history">
    <div class="history__day day">
        <div class="day__title">Today</div>
        <div class="day__content">
            <div class="day__item historyPoint">

                <div class="historyPoint__icon">
                    <div class="historyIcon">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0v6.4h3.29c.1-.85.33-1.94.8-2.37.44-.4 1.49-.61 2.31-.72V0H0zm7.52 3.84c-.38 0-2.52.22-3 .66-.52.48-.68 2.79-.68 3.02 0 .35.19 2.53.66 3 .37.4 1.84.59 2.59.65a4.75 4.75 0 0 1 4.08-4.08c-.06-.76-.26-2.2-.63-2.57-.48-.52-2.79-.68-3.02-.68zm4.32 3.84a4.14 4.14 0 0 0-4.16 4.16A4.14 4.14 0 0 0 11.84 16 4.14 4.14 0 0 0 16 11.84a4.14 4.14 0 0 0-4.16-4.16z" fill="#FF5668"/>
                        </svg>
                    </div>
                </div>

                <div class="historyPoint__details">
                    <span class="historyPoint__title">Support new distbuild protocol</span>
                    <p class="historyPoint__description">
                        Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.
                    </p>
                    <div>
                        <span class="historyPoint__commit link">s324e8</span>
                        <span class="historyPoint__committer">
                            by <a class="committer committer_email historyPoint__committerEmail" href="/">woodcutter</a>,
                        </span>
                        <span class="historyPoint__time">4s ago</span>
                    </div>
                </div>

            </div>

            <!-- day point -->
            <div class="day__item historyPoint">

                <div class="historyPoint__icon">
                    <div class="historyIcon">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0v6.4h3.29c.1-.85.33-1.94.8-2.37.44-.4 1.49-.61 2.31-.72V0H0zm7.52 3.84c-.38 0-2.52.22-3 .66-.52.48-.68 2.79-.68 3.02 0 .35.19 2.53.66 3 .37.4 1.84.59 2.59.65a4.75 4.75 0 0 1 4.08-4.08c-.06-.76-.26-2.2-.63-2.57-.48-.52-2.79-.68-3.02-.68zm4.32 3.84a4.14 4.14 0 0 0-4.16 4.16A4.14 4.14 0 0 0 11.84 16 4.14 4.14 0 0 0 16 11.84a4.14 4.14 0 0 0-4.16-4.16z" fill="#FF5668"/>
                        </svg>
                    </div>
                </div>

                <div class="historyPoint__details">
                    <span class="historyPoint__title">Support new distbuild protocol</span>
                    <p class="historyPoint__description">
                        Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.
                    </p>
                    <div>
                        <span class="historyPoint__commit link">s324e8</span>
                        <span class="historyPoint__committer">
                            by <a class="committer committer_email historyPoint__committerEmail" href="/">woodcutter</a>,
                        </span>
                        <span class="historyPoint__time">4s ago</span>
                    </div>
                </div>

            </div>

            <!-- day point -->
            <div class="day__item historyPoint">

                <div class="historyPoint__icon">
                    <div class="historyIcon">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0v6.4h3.29c.1-.85.33-1.94.8-2.37.44-.4 1.49-.61 2.31-.72V0H0zm7.52 3.84c-.38 0-2.52.22-3 .66-.52.48-.68 2.79-.68 3.02 0 .35.19 2.53.66 3 .37.4 1.84.59 2.59.65a4.75 4.75 0 0 1 4.08-4.08c-.06-.76-.26-2.2-.63-2.57-.48-.52-2.79-.68-3.02-.68zm4.32 3.84a4.14 4.14 0 0 0-4.16 4.16A4.14 4.14 0 0 0 11.84 16 4.14 4.14 0 0 0 16 11.84a4.14 4.14 0 0 0-4.16-4.16z" fill="#FF5668"/>
                        </svg>
                    </div>
                </div>

                <div class="historyPoint__details">
                    <span class="historyPoint__title">Support new distbuild protocol</span>
                    <p class="historyPoint__description">
                        Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.
                    </p>
                    <div>
                        <span class="historyPoint__commit link">s324e8</span>
                        <span class="historyPoint__committer">
                            by <a class="committer committer_email historyPoint__committerEmail" href="/">woodcutter</a>
                        </span>
                        <span class="historyPoint__time">at 16:25</span>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
