<div class="table">
    <div class="table__header">
        <div class="table__cell table__cell_header table__cell_name">Name</div>
        <div class="table__cell table__cell_header table__cell_commit">Last commit</div>
        <div class="table__cell table__cell_header table__cell_message">Commit message</div>
        <div class="table__cell table__cell_header table__cell_committer">Committer</div>
        <div class="table__cell table__cell_header table__cell_updated">Updated</div>
    </div>
    <div class="table__content">

        <include src="src/components/tableRow/tableRow.html"></include>
        <include src="src/components/tableRow/tableRow.html"></include>
        <include src="src/components/tableRow/tableRow.html"></include>
        <include src="src/components/tableRow/tableRow.html"></include>

        <include src="src/components/tableRow/tableRow.html"></include>
        <include src="src/components/tableRow/tableRow.html"></include>
        <include src="src/components/tableRow/tableRow.html"></include>
        <include src="src/components/tableRow/tableRow.html"></include>

        <include src="src/components/tableRow/tableRow.html"></include>
        <include src="src/components/tableRow/tableRow.html"></include>

        <div class="table__row row">
            <div class="table__cell table__cell_name cell">
                <span class="cell__icon icon icon_file_code"></span>
                <span>api</span>
            </div>
            <div class="table__cell table__cell_commit">
                <a class="link" href="/" target="_blank">d53dsv</a>
            </div>
            <div class="table__cell table__cell_message">
                <span>[vcs] test for empty commit message</span>
            </div>
            <div class="table__cell table__cell_committer">
                <p>noxoomo</p>
            </div>
            <div class="table__cell table__cell_updated">
                Yesterday, 14:50
            </div>
        </div>

        <div class="table__row row">
            <div class="table__cell table__cell_name cell">
                <span class="cell__icon icon icon_file_simple"></span>
                <span>api</span>
            </div>
            <div class="table__cell table__cell_commit">
                <a class="link" href="/" target="_blank">d53dsv</a>
            </div>
            <div class="table__cell table__cell_message">
                <span>[vcs] test for empty commit message</span>
            </div>
            <div class="table__cell table__cell_committer">
                <p>noxoomo</p>
            </div>
            <div class="table__cell table__cell_updated">
                Yesterday, 14:50
            </div>
        </div>


    </div>
</div>
