@import '../../css/breakpoints.css';

.table {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        height: 44px;
        border-bottom: 1px var(--separator) solid;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__cell {
        display: flex;
        flex-direction: row;
        align-items: center;

        &:first-child {
            padding-left: var(--space-xs);
        }

        &:last-child {
            padding-right: var(--space-xs);
            justify-content: flex-end;
        }

        & + & {
            margin-left: var(--space-xxl);
        }

        &_header {
            color: var(--light-gray-text);
            font-weight: 500;
        }

        &_name {
            flex-basis: 20%;
        }

        &_commit {
            flex-basis: 100px;
        }

        &_message {
            flex: 1;
        }

        &_committer {
            flex-basis: 20%;

            p {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &_updated {
            flex-basis: 120px;
        }
    }
}

.cell {
    &__icon {
        margin-right: var(--space-xs);
    }

    &__committerEmail {
        &::first-letter {
            color: var(--accent-red-color);
        }
    }

    &__committerName {
        display: none;
        margin-left: 4px;
    }

    &__arrowButton {
        display: none;
    }
}

@media (max-width: 960px) {
    .cell {
        height: 34px;

        &__folderName {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__committerEmail {
            display: none;
        }

        &__committerName {
            display: block;
        }

        &__arrowButton {
            display: inline-block;
            transform: translateY(-40%);
            position: absolute;
            top: 50%;
            right: 0;
        }
    }

    .table {
        &__header {
            display: none;
        }


        &__cell {
            flex-basis: 100%;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
                justify-content: flex-start;
            }

            & + & {
                margin-left: 0;
            }


            /* mobile */
            &_name {
                order: 1;
            }

            &_message {
                position: relative;
                order: 2;
            }

            &_commit {
                flex-basis: auto;
                order: 3;
            }

            &_committer {
                flex-basis: auto;
                order: 4;
            }

            &_updated {
                order: 5;
                flex-basis: auto;
            }
        }
    }
}

