<div class="table__row row">
    <div class="table__cell table__cell_name cell">
        <span class="cell__icon icon icon_folder"></span>
        <span>api</span>
    </div>
    <div class="table__cell table__cell_commit">
        <a class="link" href="/" target="_blank">d53dsv</a>
    </div>
    <div class="table__cell table__cell_message">
        <span><a class="link">ARCADIA-771</a> test for empty commit message</span>
    </div>
    <div class="table__cell table__cell_committer">
        <p>noxoomo</p>
    </div>
    <div class="table__cell table__cell_updated">
        Yesterday, 14:50
    </div>
</div>
